.main-container {
    position: absolute;
    top: 0;
    bottom: 60px;
    width: 100%;
    background-color:lightblue;
}
.main-menu {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    text-align:center;
    background-color: lightgreen;
}
.ploceholder {
   color: #bbb;
   height: 60px;
   line-height: 60px;
   text-align: center;
   width: 100%;
   z-index: 9999;
}
.placeholder i{
    display: block;
    font-size: 24px;
    height: 45px;
    line-height: 45px;
    width: 100%;
}
.placeholder .menu-content {
    height: 15px;
    line-height: 10px;
    text-align:center;
}
.active {
    color: orange !important;
}
.ui.grid> .row {
    padding-top: 0;
    padding-bottom: 0;
}